.text-block {
	position: absolute;
	top: 10px;
	left: 20px;
	color: black;
	background-color: #65acd0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
}
.text-block a{
	color: black;
}


/* Center the loader */
/*#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #65acd0;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
/*.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}



@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}




@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}

#myDiv {
	display: none;
}*/


div.body div.home-banner{
	background: linear-gradient(to bottom,rgba(231, 233, 231, 0.09)0,rgba(231, 233, 231, 0.09)100%),url(image/myanmar.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.home-banner h2{
	padding-top: 280px;
	color: black;
	font-weight: 600;
}



@media only screen and (max-width: 768px) {
	div.home-banner h2{
	padding-top: 180px;
	color: black;
	font-weight: 600;
}
}



div.body div.banner{
	background: linear-gradient(to bottom,rgba(231, 233, 231,0.09)0,rgba(231, 233, 231, 0.09)100%),url(image/myanmar.jpg);
	width: 100%;
	height: 80vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div.banner h2{
	padding-top: 230px;
	color: black;
	font-weight: 600;
}
div.packagelist .card{
	/*border-radius: 20px;*/
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.packagelist a{
	text-decoration: none;
}
nav a{
	color: #fff;
}
nav.scrolled{
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav.scrolled a{
	color: #fff;
}
nav.scrolled li a{
	color: #fff;
}
nav.scrolled li a.nav-link::after{
	background: #fff;
}
nav#mainNav button:focus{
	outline: 0;
}
.header a, .header li a{
	color: #434343;
	font-size: 18px;
	padding: 10px;
	font-weight: 600;
}
/*.header li a:hover{
	color: #fff;
}*/
/*.navbar-brand:hover{
	color: #fff;
}*/
.header li.active a.nav-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: black;
	transition: width .3s;
}

.header li a.nav-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: black;
	transition: width .3s;
}
.header li a.nav-link:hover::after{
	width: 30px;
	transition: width .3s;
}
/*li a.active::after{
	width: 30px;
	transition: width .3s;
	}*/
	.navbar-toggler-icon{
		width: 35px;
		height: 3px;
		background: black;
		border-radius: 5px;
		transition: all .5s ease-in-out;
		padding-right: 34.5px;
	}
	.navbar-toggler-icon::before{
		content: '';
		position: absolute;
		width: 35px;
		height: 3px;
		background: black;
		border-radius: 5px;
		transition: all .5s ease-in-out;
	}
	.navbar-toggler-icon::after{
		content: '';
		position: absolute;
		width: 35px;
		height: 3px;
		background: black;
		border-radius: 5px;
		transition: all .5s ease-in-out;
	}
	.navbar-toggler-icon::before{
		transform: translateY(-10px);
	}
	.navbar-toggler-icon::after{
		transform: translateY(10px);
	}
	.nti.open .navbar-toggler-icon{
		transform: translateX(-50px);
		background: none;
		box-shadow: none;
	}
	.nti.open .navbar-toggler-icon::before{
		transform: rotate(45deg) translate(35px, -35px);
	}
	.nti.open .navbar-toggler-icon::after{
		transform: rotate(-45deg) translate(35px, 35px);
	}
	/*.search .button{
		padding: 7px;
		border-radius: 10px;
	}*/
	
	.btn{
		background: #434343; /*rgb(128, 88, 71)*/
		color: white;
		padding: 13px;
		border-radius: 20px;
		overflow: hidden;
		letter-spacing: 2px;
		border: none;
	}
	.btn:hover{
		color: white;
	}

	.about-page h3{
		font-size: 30px;
		font-weight: 500;
		padding-bottom: 30px;
	}
	.about-page p {
		font-size: 16px;
		font-weight: 400;
		line-height: 2;
		padding-left: 30px;
	}
	/*.button:hover{
		color: black;
	}*/
	/*.btn{
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
	.btn::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #434343;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.6s;
		transition-duration: 0.6s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	.btn:hover::before, .btn:active::before {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}*/

	.snip1584 {
		font-family: 'Raleway', sans-serif;
		position: relative;
		display: inline-block;
		overflow: hidden;
		/*margin: 10px;*/
			/*min-width: 230px;
			max-width: 315px;*/
			width: 100%;
			color: #ffffff;
			font-size: 16px;
			text-align: left;
		}
		.snip1584 * {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: all 0.25s ease;
			transition: all 0.25s ease;
		}
		.snip1584:before {
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			top: 100%;
			content: '';
			background-color: rgba(51, 51, 51, 0.9);
			-webkit-transition: all 0.25s ease;
			transition: all 0.25s ease;
			-webkit-transition-delay: 0.25s;
			transition-delay: 0.25s;
		}
		.snip1584 img {
			vertical-align: top;
			max-width: 100%;
			backface-visibility: hidden;
		}
		.snip1584 figcaption {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.snip1584 h3,
		.snip1584 h5 {
			margin: 0;
			opacity: 0;
			letter-spacing: 1px;
		}
		.snip1584 h3 {
			-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
			text-transform: uppercase;
			font-weight: 400;
			-webkit-transition-delay: 0.05s;
			transition-delay: 0.05s;
			margin-bottom: 5px;
		}
		.snip1584 h5 {
			font-weight: normal;
			background-color: #ae895d;
			padding: 3px 10px;
			-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
			-webkit-transition-delay: 0s;
			transition-delay: 0s;
		}
		.snip1584 a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
		.snip1584:hover:before,
		.snip1584.hover:before {
			top: 10px;
			-webkit-transition-delay: 0s;
			transition-delay: 0s;
		}
		.snip1584:hover h3,
		.snip1584.hover h3,
		.snip1584:hover h5,
		.snip1584.hover h5 {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
		}
		.snip1584:hover h3,
		.snip1584.hover h3 {
			-webkit-transition-delay: 0.3s;
			transition-delay: 0.3s;
		}
		.snip1584:hover h5,
		.snip1584.hover h5 {
			-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
		div.about .icon{
			font-size: 30px;
			border-radius: 50%;
			color: #65acd0;
			padding: 10px;
			box-shadow: 0 0 30px rgba(216, 215, 214, 213);
		}
		div.about .box-info{
			box-shadow: 0 0 30px rgba(216, 215, 225, .5);
			border:1px solid #fff;
			padding: 20px;
			border-radius: 5px;
		}
		div.about .box-info h4{
			font-weight: 600;
		}
		div.about .box-info p{
			font-weight: 400;
			line-height: 1;
			text-align: center;
		}
		div.reason .icon{
			font-size: 30px;
			border-radius: 50%;
			color: #65acd0;
			padding: 10px;
		}
		div.reason h3{
			font-weight: 600;
			font-size: 30px;
		}
		div.reason p{
			font-weight: 400;
		}
		.footer{
			background: #000000; /* fallback for old browsers */
  			background: -webkit-linear-gradient(to bottom, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
  			background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		.footer ul li a{
			color: #fff;
		}
		.footer h4 {
			color: #fff;
		}
		.footer p{
			color: #fff;
		}


		/*.form-info {
			width: 400px;
			height: 500px;
			background-color: #f5f5f5;
			border: 1px solid #aaa;
			border-radius: 15px;
			margin: 90px auto;
			box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.56);
		}

		form{
			margin: 50px 0px 0px 60px;
		}

		h1{
			position: relative;
			left: 100px;
			font-family: pacifico;
		}

		label:nth-of-type(1){
			margin-bottom: 8px;
			font-family: Handlee;
			font-size: 19px;
			color: #000;
		}
		label:nth-of-type(2){
			margin-bottom: 8px;
			font-family: Handlee;
			font-size: 19px;
			color: #000;
		}
		a{
			position: relative;
			left: 60px;
			font-family: Handlee;
			text-decoration: none;
			color: #000;
		}

		input:nth-of-type(1){
			font-family: Handlee;
			font-size: 18px;
			width: 80%;
			height: 35px;
			margin-bottom: 30px;
			outline: none;
			border-radius: 6px;
			border-top:2px solid #D1913C;
			border-left:2px solid #D1913C;
			border-right:2px solid #D1913C;
			border-bottom:2px solid#D1913C;
		}
		input:nth-of-type(2){
			font-family: Handlee;
			font-size: 18px;
			width: 80%;
			height: 35px;
			margin-bottom: 30px;
			outline: none;
			border-radius: 6px;
			border-top: 2px solid #D1913C;
			border-left: 2px solid #D1913C;
			border-right:2px solid #D1913C;
			border-bottom:2px solid #D1913C;
		}
		input:nth-of-type(3){
			display: inline-block;
			width: 82%;
			height: 40px;
			cursor: pointer;
			margin-bottom: 30px;
			outline: none;
			font-family: Coiny;
			font-size: 20px;
			border-radius: 5px;
			border:2px solid #D1913C;
			background-color: #D1913C;
			color: #fff;
		}
		input:nth-of-type(3):hover{
			width: 80%;
			height: 40px;
			cursor: pointer;
			margin-bottom: 30px;
			outline: none;
			font-family: Coiny;
			font-size: 20px;
			border-radius: 5px;
			border:2px solid #D1913C;
			background-color: #D1913C;
			color: #000;
		}*/



		.form-register {
			/*width: 400px;*/
			height: 800px;
			background-color: #f5f5f5;
			border: 1px solid #aaa;
			border-radius: 15px;
			margin: 90px auto;
			box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.56);
		}

		.form-register form{
			margin: 50px 0px 0px 50px;
		}

		.form-register h1{
			position: relative;
			/*left: 100px;*/
			font-family: pacifico;
		}

		.form-register label{
			margin-bottom: 8px;
			font-family: Handlee;
			font-size: 19px;
			color: #000;
		}
		
		.form-register a{
			position: relative;
			/*left: 60px;*/
			font-family: Handlee;
			text-decoration: none;
			color: #000;
		}

		.form-register input{
			font-family: Handlee;
			font-size: 18px;
			width: 80%;
			height: 35px;
			margin-bottom: 30px;
			outline: none;
			border-radius: 6px;
			border-top:2px solid #D1913C;
			border-left:2px solid #D1913C;
			border-right:2px solid #D1913C;
			border-bottom:2px solid#D1913C;
		}
		
		.form-register .registerbutton{
			display: inline-block;
			width: 82%;
			height: 40px;
			cursor: pointer;
			margin-bottom: 30px;
			outline: none;
			font-family: Coiny;
			font-size: 20px;
			border-radius: 5px;
			border:2px solid #D1913C;
			background-color: #D1913C;
			color: #fff;
		}
		.form-register .registerbutton:hover{
			width: 80%;
			height: 40px;
			cursor: pointer;
			margin-bottom: 30px;
			outline: none;
			font-family: Coiny;
			font-size: 20px;
			border-radius: 5px;
			border:2px solid #D1913C;
			background-color: #D1913C;
			color: #000;
		}


		.form-info {
			/*width: 400px;*/
			height: 450px;
			background-color: #f5f5f5;
			border: 1px solid #aaa;
			border-radius: 15px;
			margin: 90px auto;
			box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.56);
		}

		.form-info form{
			margin: 50px 0px 0px 50px;
		}

		.form-info h1{
			position: relative;
			/*left: 100px;*/
			font-family: pacifico;
		}

		.form-info label{
			margin-bottom: 8px;
			font-family: Handlee;
			font-size: 19px;
			color: #000;
		}
		
		.form-info a{
			position: relative;
			/*left: 60px;*/
			font-family: Handlee;
			text-decoration: none;
			color: #000;
		}

		.form-info input{
			font-family: Handlee;
			font-size: 18px;
			width: 80%;
			height: 35px;
			margin-bottom: 30px;
			outline: none;
			border-radius: 6px;
			border-top:2px solid #D1913C;
			border-left:2px solid #D1913C;
			border-right:2px solid #D1913C;
			border-bottom:2px solid#D1913C;
		}
		
		.form-info .loginbutton{
			display: inline-block;
			width: 82%;
			height: 40px;
			cursor: pointer;
			margin-bottom: 30px;
			outline: none;
			font-family: Coiny;
			font-size: 20px;
			border-radius: 5px;
			border:2px solid #D1913C;
			background-color: #D1913C;
			color: #fff;
		}
		.form-info .loginbutton:hover{
			width: 80%;
			height: 40px;
			cursor: pointer;
			margin-bottom: 30px;
			outline: none;
			font-family: Coiny;
			font-size: 20px;
			border-radius: 5px;
			border:2px solid #D1913C;
			background-color: #D1913C;
			color: #000;
		}



